:root {
    --playing-clr: hsl(339, 100%, 50%);
}

body {
    height: 90vh;
    background-image: url(drums.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.keys, .key  {
    display: flex;
    color: black;
}

.keys {
    gap : 1em;
}

.key  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3em;
    width: 4em;
    height: 4em;
    background-color: hsla(0, 20%, 95%, 0.8);
    border: .2em solid hsl(300, 2%, 30%);
    border-radius: 50%;
    transition: transform 0.05s;
}

.sound{
    text-transform: uppercase;
    font-size: 12px;
}

.play {
    transform: scale(1.1);
    border-color: var(--playing-clr);
    box-shadow: 0 0 .7em var(--playing-clr);
}



